In [1]:
# The directory for top level folder
dir_ = "/home/sugam/Work/10-19 NLP/12 Projects/Resume Builder/data/"

In [2]:
raw_data_dir = dir_ + 'raw/'
processed_data_dir = dir_+'Processed/'

In [3]:
import pandas as pd
import numpy as np
import re

In [28]:
####################### LOAD DATA
##################################################################
def load_data(url: str) ->pd.DataFrame:
    """
    Loads the dataframe into memory

    Args:
      url (string) - the path to the dataframe

    Returns:
      df (pandas dataframe)
    """
    
    print("⏳ Loading Data")
    
    # Refering our data without any modification and dtype
    if(url[-3:]=="csv"):
        df = pd.read_csv(url)
        
        for col in list(df):  # List out the column names
            if "Unnamed" in col:  # Checks if the column contains Unnamed in it 
                df.drop(col, axis=1,inplace=True) # Removes the Garbage column
    else:
        df = pd.read_json(url, lines=True)


    
    print(f"✅ Done Loading")    
    return df


df_dir= processed_data_dir+"final.csv"

df = load_data(df_dir)

⏳ Loading Data
✅ Done Loading

In [29]:
### Separating the top 1000 for making question answering dataset
df = df[["jobtitle","company","job_role","joblocation","education","experience","skills","industry","payrate"]]
df_1000 = df.iloc[:1000].copy()

In [30]:
df_1000.head()

,jobtitle,company,job_role,joblocation,education,experience,skills,industry,payrate
0,Walkin Data Entry Operator (night Shift),MM Media Pvt Ltd,Fresher Keyskills English Typing Part Time Dat...,Bangalore,Postgraduate,0 - 1 yrs,ITES,Media / Entertainment / Internet,"1,50,000 - 2,25,000 P.A"
1,Work Based Onhome Based Part Time.,find live infotech,Search Engine Marketing/SEM Specialist Keyskil...,Lucknow,M.Tech,0 - 0 yrs,Marketing,Advertising / PR / MR / Event Management,"1,50,000 - 2,50,000 P.A. 20000"
2,Pl/sql Developer - SQL,Softtech Career Infosystem Pvt. Ltd,Software Developer Keyskills SQL Loader PL SQL...,Hyderabad,M.Sc(Science)-Computers,4 - 8 yrs,IT Software - Application Programming,IT-Software / Software Services,Not Disclosed by Recruiter
3,Manager/ad/partner - Indirect Tax - CA,Onboard HRServices LLP,Taxation(Indirect) Manager Keyskills Service T...,Chennai,MS/M.Sc(Science),11 - 15 yrs,Accounts,Banking / Financial Services / Broking,Not Disclosed by Recruiter
4,JAVA Technical Lead (6-8 yrs) -,Spire Technologies and Solutions Pvt. Ltd.,Team Lead/Technical Lead Keyskills Javascript ...,Pune,Diploma-Electronics/Telecommunication,6 - 8 yrs,IT Software - Application Programming,IT-Software / Software Services,Not Disclosed by Recruiter

In [31]:
df_1000 = (
    "JT_" + df_1000["jobtitle"] + \
    ",CO_" + df_1000["company"] +\
    ",JR_" + df_1000["job_role"] + \
    ",JL_" + df_1000["joblocation"] + \
    ",ED_" + df_1000["education"] + \
    ",EX_" + df_1000["experience"] + \
    ",SK_" + df_1000["skills"] + \
    ",IN_" + df_1000["industry"] + \
    ",PR_" + df_1000["payrate"]
)

In [38]:
df_1000[500]

'JT_Urgent Hiring for Asp.net Developer(4-5 Yrs),CO_MPS Ltd.,JR_Software Developer Keyskills asp.net c# c sharp .net .net developer dot net developer asp.net developer asp dot net developer asp . net developer asp dotnet developer asp .net developer sql sql server web software engineer software developer ms sql server Desired Candidate Profile Walkin Interview-12,13th Oct 2016 Timing-10-4 pm Contact-Nupur MPS Limited # 137 HMG Ambassadors, Residency Road, Bangalore-25 Call: (+91)(080)41784000 / 4137/4137 Land Mark: Opp Bangalore Club,above Huzafia Decor Showroom ,JL_Pune,ED_BHM-Hotel Management,EX_4 - 6 yrs,SK_IT Software - Application Programming,IN_IT-Software / Software Services,PR_Not Disclosed by Recruiter'

In [23]:
def remove_garbage(x):
    x = re.sub(r"/",",",str(x)) # Replace \n with nothing
    x = re.sub(r"\xa0","",str(x)) # Replace \n with nothing
    # x = re.sub(r"\/"," ",x) # Replace \ / with a space
    # x = re.sub(r'\s{2,}', ' ', x) # Replace more than 2 spaces witha 1
    
    return x
    

df_1000 = df_1000.map(remove_garbage)

In [27]:
df_1000[100]

'JT_Big Data Hadoop Developer,CO_dynproindia,JR_Software Developer Keyskills Hadoop Developer Hadoop mapreduce pig hbase hive spark hdfs Desired Candidate Profile Please refer to the Job description above ,JL_Nagpur,ED_Diploma-Electrical,EX_3 - 6 yrs,SK_IT Software - Application Programming,IN_IT-Software , Software Services,PR_1,00,000 - 5,00,000 P.A'

In [64]:
def find_index(row,df):
    title_index = df[row].find("JT_") + 2
    company_index = df[row].find("CO_") + 2
    job_role_index = df[row].find("JR_") + 2
    job_location_index = df[row].find("JL_") + 2
    education_index = df[row].find("ED_") + 2
    experience_index = df[row].find("EX_") + 2
    skills_index = df[row].find("IN_") + 2
    payrate_index = df[row].find("PR_") + 2

    print(f"title_index {title_index}")
    print(f"category_index {category_index}")
    print(f"company_name_index {company_name_index}")
    print(f"country_index {country_index}")
    print(f"post_date_index {post_date_index}")
    print(f"job_desc_index {job_desc_index}")
    print(f"job_type_index {job_type_index}")
    print(f"url_index {url_index}")

In [68]:
find_index(10,data_scientist_1000_final)

title_index 2
category_index 19
company_name_index 40
country_index 60
post_date_index 67
job_desc_index 81
job_type_index 3511
url_index 3525

In [70]:
data_scientist_1000_final[10][81:3511]

"Read what people are saying about working here. At Northrop Grumman, innovation isn't just an idea-it's a way of life. Our employees have incredible opportunities to work on revolutionary systems in air and space that impact lives around the world today, and for generations to come. Our work preserves freedom and democracy, and advances human discovery and our understanding of the universe. We look for people who have bold new ideas, courage and a pioneering spirit to join forces to invent the future.Northrop Grumman is seeking a Data Scientist to become part of the organization supporting the Army Analytics Group's Research Facilitation Laboratory located in Monterey, California. The team conducts a variety of research studies and supports data analytics efforts for clients across the Army, Office of the Secretary of Defense and greater DoD, conducting high-quality research with practical real-world implications. The team works primarily within a data environment that houses a wealth of administrative, personnel, survey, and medical data (i.e., big data) on extremely large populations. Projects generally focus on resilience, health, and readiness among military service members, and include population-based studies, machine learning projects, visual analytics platforms, measurement analysis, and pilot program evaluations.The Data Scientist will work with a team of researchers using large administrative data assets for studies examining health and readiness among U.S. military service members.The Data Scientist will support several projects. Primary tasks include cleaning, preparing, merging, and analyzing large, population datasets from multiple sources.Basic Qualifications:2 years' relevant experience plus a Bachelor's Degree in Epidemiology, Statistics, Biostatistics, Applied Mathematics, Operations Research, or other relevant field is required.Experience with basic statistical analyses (e.g., t-tests, ANOVA, factor analysis, linear and logistic regression), and proficiency with statistical programs such as R, SAS, MATLAB, or SPSS is required.Successful candidates will have demonstrated experience in data management (e.g., Oracle, Excel, SQL).US Citizenship is requiredThe ability to work in Monterey is required (no telecommuting is available for this position)Preferred Qualifications:Master's Degree in Epidemiology, Statistics, Biostatistics, Applied Mathematics, Operations Research, or other relevant field is strongly preferred.Ideal candidates will have demonstrated programming and or scripting experience (e.g., Python, C#, Java, Perl).Experience with sophisticated analyses (e.g., longitudinal modeling, machine learning, non-parametric statistical modeling) and data visualization (e.g., Tableau, Qlik, R Shiny, Microstrategy) is preferred.Northrop Grumman is committed to hiring and retaining a diverse workforce. We are proud to be an Equal Opportunity Affirmative Action Employer, making decisions without regard to race, color, religion, creed, sex, sexual orientation, gender identity, marital status, national origin, age, veteran status, disability, or any other protected class. For our complete EEO AA and Pay Transparency statement, please visit www.northropgrumman.com EEO. U.S. Citizenship is required for most positions. Northrop Grumman is a leading global security company providing innovative systems, products and solutions in aerospace, electronics, inf...,JT_"

In [55]:
data_scientist_1000_final[0][job_type_index:url_index]

'Undefined,URL_'

In [18]:
json_objects= []
for index, value in data_scientist_1000_final.items():
    json_objects.append({"context":value})

In [19]:
df2 = pd.DataFrame(json_objects)

In [20]:
# Convert the DataFrame to JSON
json_data = df2.to_json(orient='records')

file_path = processed_data_dir+"first_1000.json"
# Write the JSON data to the file
with open(file_path, 'w') as json_file:
    json_file.write(json_data)