In [1]:
# The directory for top level folder
model_dir_ = "/home/sugam/Work/10-19 NLP/12 Projects/Resume Builder/Output/"
data_dir =  "/home/sugam/Work/10-19 NLP/12 Projects/Resume Builder/data/Processed/"

model = model_dir_ + "bert/"
test_data = data_dir + "test_json.json"
context_data = data_dir + "context_data.csv"

In [2]:
import torch
import json
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
### Creating tf-idf vectors for faster contex retrivel

In [3]:
context = pd.read_csv(context_data)

In [4]:
context

       Unnamed: 0                                                  0
0               0  JT_Walkin Data Entry Operator (night Shift),CO...
1               1  JT_Work Based Onhome Based Part Time,CO_find l...
2               2  JT_Pl,sql Developer - SQL,CO_Softtech Career I...
3               3  JT_Manager,ad,partner - Indirect Tax - CA,CO_O...
4               4  JT_JAVA Technical Lead (6-8 yrs) -,CO_Spire Te...
...           ...                                                ...
21995       21995  JT_Quality Assurance - VP with Morgan Stanley ...
21996       21996  JT_Java Backend Developers for a Product Compa...
21997       21997  JT_Full Stack Development Engineer,CO_Musk - S...
21998       21998  JT_Sr UI Developer, Technical Lead - Html, CSS...
21999       21999  JT_RF Firmware Engineers,CO_Cambio Consulting ...

[22000 rows x 2 columns]