In [1]:
# The directory for top level folder
dir_ = "/home/sugam/Work/10-19 NLP/12 Projects/Resume Builder/data/"

In [2]:
raw_data_dir = dir_ + 'raw/'
processed_data_dir = dir_+'Processed/'

# 1. Part-1

In [41]:
import pandas as pd
import numpy as np

In [30]:
####################### LOAD DATA
##################################################################
def load_data(url: str) ->pd.DataFrame:
    """
    Loads the dataframe into memory

    Args:
      url (string) - the path to the dataframe

    Returns:
      df (pandas dataframe)
    """
    
    print("⏳ Loading Data")
    
    # Refering our data without any modification and dtype
    if(url[-3:]=="csv"):
        df = pd.read_csv(url)
        
        for col in list(df):  # List out the column names
            if "Unnamed" in col:  # Checks if the column contains Unnamed in it 
                df.drop(col, axis=1,inplace=True) # Removes the Garbage column
    else:
        df = pd.read_json(url, lines=True)


    
    print(f"✅ Done Loading")    
    return df


ds_dir= raw_data_dir+"data_scientist_united_states_job_postings_jobspikr.csv"
software_developers_dir = raw_data_dir+"software_developer_united_states_1971_20191023_1(1).csv"
marketing_dir = raw_data_dir+"marketing_sample_for_seek_au-jobs_listing__20190901_20191231__10k_data.json"

ds = load_data(ds_dir)
software_developers = load_data(software_developers_dir)
marketing = load_data(marketing_dir)

⏳ Loading Data
✅ Done Loading
⏳ Loading Data
✅ Done Loading
⏳ Loading Data
✅ Done Loading

In [31]:
# Dropping unnecessary columns from the dataframes
ds.drop(["crawl_timestamp","html_job_description","uniq_id","contact_phone_number","cursor"], axis=1,inplace=True)
software_developers.drop(["crawl_timestamp","uniq_id","contact_phone_number","cursor"], axis=1,inplace=True)
marketing.drop(["uniq_id","crawl_timestamp","html_job_description"], axis=1,inplace=True)

In [32]:
# Joining everything into a single dataframe and deleting the rest.
marketing = marketing[ds.columns]

main_df = pd.concat([ds,software_developers,marketing])
main_df.drop(["salary_offered","geo","job_board","city","state","inferred_city","inferred_state","inferred_country","contact_email"],axis=1,inplace=True)
del ds, software_developers, marketing

In [33]:
main_df.head()

,url,job_title,category,company_name,country,post_date,job_description,job_type
0,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Usa,2019-02-06,Read what people are saying about working here...,Undefined
1,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Usa,2019-02-05,We have an immediate opening for a Sharp Data ...,Undefined
2,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,Usa,2019-02-05,Candidates should have the following backgroun...,Full Time
3,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,Usa,2019-02-06,Read what people are saying about working here...,Undefined
4,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Usa,2019-02-05,We are seeking an extraordinary Data Scientist...,Full Time

In [34]:
main_df.shape

(30000, 8)

In [39]:
main_df.isnull().sum()

url                   0
job_title             0
category           1721
company_name          0
country               0
post_date             0
job_description       0
job_type              0
dtype: int64

In [38]:
main_df["country"] = main_df["country"].fillna("Unknown")
main_df["company_name"] = main_df["company_name"].fillna("Unknown")

In [47]:
main_df[main_df["category"].isnull()]

,url,job_title,category,company_name,country,post_date,job_description,job_type
1,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Usa,2019-02-05,We have an immediate opening for a Sharp Data ...,Undefined
2,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,Usa,2019-02-05,Candidates should have the following backgroun...,Full Time
7,https://www.dice.com/jobs/detail/Sr.-Data-Scie...,Sr. Data Scientist (Can work on Xoriant W2),NaN,Xoriant Corporation,Usa,2019-02-06,Job Title: - Sr. Data Science Consultant Durat...,Contract
9,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Adroit Resources,Usa,2019-02-05,• 3+ years related a professional experience ...,Contract
11,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,"Envoy Consulting Group, Inc",Usa,2019-02-05,Data Scientist EnvoyIT is looking for a Data S...,Full Time
...,...,...,...,...,...,...,...,...
9612,https://www.dice.com/jobs/detail/Software-Deve...,Software Developer (Kafka),NaN,Goahead Solutions,US,2019-07-29,Duration: 6 months to start will be extended L...,Contract
9756,https://www.dice.com/jobs/detail/Software-Deve...,Software Developer & Integrator,NaN,Kforce Technology Staffing,US,2019-07-31,RESPONSIBILITIES: Kforce has a client in searc...,Contract
9886,https://www.dice.com/jobs/detail/Senior-Java-%...,Senior Java / J2EE Software Developer,NaN,Kforce Technology Staffing,US,2019-08-01,RESPONSIBILITIES: Kforce has a client that is ...,Full Time
9985,https://www.dice.com/jobs/detail/Senior-Full-S...,Senior Full Stack Software Developer,NaN,Kforce Technology Staffing,US,2019-08-02,RESPONSIBILITIES: Kforce has a client that is ...,Full Time
9986,https://www.dice.com/jobs/detail/Full-Stack-So...,Full Stack Software Developer 3,NaN,Kforce Technology Staffing,US,2019-08-02,RESPONSIBILITIES: Kforce has a client in searc...,Contract